.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
      }
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        text-align: center;
        background-color: lightblue;
      }
      p{
         color: red;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        width: 300px;
        text-align: center;
      }
      input[type="text"] {
        height: 30px;
        width: 100%;
        margin-bottom: 20px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      }
      select {
        height: 30px;
        width: 100%;
        margin-bottom: 20px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      }
      input[type="button"] {
        height: 40px;
        width: 100%;
        background-color: lightblue;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        font-weight: bold;
      }
      input[type="button"]:hover {
        background-color: blue;
      }
      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
      }
      th,
      td {
        border: 2px solid black;
        padding: 8px;
        text-align: center;
        font-size: 15pt;
      }
      th {
        background-color: peachpuff;
        color: black;
      }